doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(http-equiv="X-UA-Compatible", content="IE=edge")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    link(rel='stylesheet', href='/stylesheets/style.css')
    title Document
  body 
  block content
  header 
    article.main-header
      h1 Members Only 
      p.p-button
        a.post-in-profile(href=`${user.url}`) View Profile 
    nav 
      ul 
        li 
          a(href="/general") ⌂
        li 
          a(href="/general/info") i
    
  main 
    section.navigate
      p.p-button 
        a.button(href="/general/genres") View all genres 

      if user.grade == "Admin" || user.grade == "Owner"
        p.p-button
          a.button(href="/general/users") View all users  

        p.p-button
          a.button(href = '/general/requests') View Requests

    if posts.length   
      ul.posts 
        for post in posts 
          li.post    
            article.article-post-functionality
              p.post-title  #{post.title} -
                p.p-button.p-button-index-post 
                  a.button(href=`${post.url}`) View Post 
            article.article-post-informations 
              p.post-info #{post.user.grade}: #{post.user.username} - #{post.postDate_formatted} 
              p.post-info Genre: #{post.genre.title}

    else 
      p 0 posts available 
      p.p-button
        a.button(href=`${user.url}/create`) Create Post +  
  hr
  ul.user-statistic 
    li Users: #{usersCount} 
    li Members: #{membersCount}
    li Admins: #{adminsCount}
