doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        link(rel='stylesheet', href='/stylesheets/style.css')
        title Document
    body 
    block content 
        header  
            h1 #{post.title}

        main 
            section.info 
                p.post-info - #{post.user.username}
                p.post-info Genre: #{post.genre.title}

            p.post-description #{post.description}

            if post.user.username == reqUser.username || reqUser.grade == "Admin" || reqUser.grade == "Owner"
                hr
                section.developer 
                    p
                        a(href=`${post.url}/delete`) Delete 
                    p 
                        a(href=`${post.url}/update`) Edit  

            p 
                a(href=`/general`) Home 