doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        link(rel='stylesheet', href='/stylesheets/style.css')
        title Document
    body 
    block content 
        header 
            h1 #{user.username} - #{user.grade}

        main 
            if personalAccount 
                p.personal 
                    a.button(href=`${user.url}/delete`) Delete Account 
                p.personal 
                    a.button(href=`${user.url}/update`) Update Account 
                p.personal 
                    a.button(href=`${user.url}/create`) Create Post + 
                form(action="/general/logout", method = "POST") 
                    input(type="hidden" name = "user" value = user || undefined) 
                    article.button-holder
                        button.submit-button(type = "submit") Log Out 
            p Details: 
            ul.user-details-ul 
                li 
                    if numberOfPosts
                        p.info Posts: #{numberOfPosts}
                    else 
                        p.info No posts yet. 
                li
                    p.info Email: #{user.email}
                li 
                    p.info Birthday: #{user.birthDay_formatted}

        hr
        p.info Posts 
            if posts.length > 0 
                ul.posts    
                    for post in posts 
                        li
                            a.post-in-profile(href=`${post.url}`) #{post.title}
                        
            else 
                p  No posts yet.